
<h3>{{title}}</h3>
        <div class="input-field">
          <input placeholder="What do you want to do today ?" id="first_name" 
          type="text" class="validate" (keyup.enter)="onEnter()" [(ngModel)]="newTodo">
          <!-- <label for="first_name">First Name</label> -->
        </div>
        <p *ngFor="let todo of todoList">
          <input type="checkbox" id="{{todo.createdDate}}" (click)="onChecked(todo.createdDate)"/>
          <label for="{{todo.createdDate}}" class="status-marker" 
          appStatusHighlighter [createdTimeStamp]="todo.createdDate">{{todo.name}}</label>
       </p>