.status-marker {
    border-right-style: solid;
    padding-right: 15px;
}

.status-red {
    border-right-color: #E41313;
}

.status-green {
    border-right-color: #0BBD0B;
}

.status-orange {
    border-right-color: #D18A08;
}