

<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
      <div class="col s6">
        <app-todo-list title="Project To Do" [todoList]="projectTodoList"
         (newTodoAdded)="onNewItemAdded($event, 'project')"
         (todoMarkedAsDone)="onTodoMarkedAsDone($event, 'project')"></app-todo-list>
      </div>
      <div class="col s6">
        <app-todo-list title="Personal To Do" [todoList]="personalTodoList" 
        (newTodoAdded)="onNewItemAdded($event, 'personal')"
        (todoMarkedAsDone)="onTodoMarkedAsDone($event, 'personal')"></app-todo-list>
      </div>
  </div>
</div>