<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">My Todo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Archive</a></li>
        <li><a href="badges.html">About</a></li>
      </ul>
    </div>
  </nav>
        